.top-article {
  max-width: 1220px;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 128px 111px 184px;
  background: #ffffff;
  box-sizing: border-box;
  border: 1px solid #ebeaf2;
  border-radius: 8px 0 0 8px;
}
